In [2]:
# Comparison of booleans
print(True == False)

# Comparison of integers
print(-5 * 15 != 75)

# Comparison of strings
print("pyscript" == "PyScript")

# Compare a boolean with a numeric
print(True == 1)

False
True
False
True

In [6]:
# Comparison of integers
x = -3 * 6
print(x >= -10)

# Comparison of strings
y = "test"
print("test" <= y)

# Comparison of booleans
print(True > False)## the alphabit

False
True
True

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house < your_house)

In [ ]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen < 14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print(my_kitchen * 2 < your_kitchen * 3)

In [3]:
# Create arrays
import numpy as np'
###elemntwise
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

In [ ]:
#if

In [1]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [2]:
#Elif
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [3]:
#else
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [4]:
#One line if statement:

if a > b: print("a is greater than b")
a = 2
b = 330
print("A") if a > b else print("B")

a is greater than b

In [5]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [6]:
#And
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")
#or
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

Both conditions are True
At least one of the conditions is True

In [8]:
#Nested If
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [9]:
a = 33
b = 200

if b > a:
    pass

## While Loops

In [11]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [7]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset >0 :
        offset=offset-1
    else : 
        offset=offset+1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [14]:
i=1
while i<5:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [15]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## For loop

In [16]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [17]:
###  The range() Function
for x in range(6):
    print(x)
for x in range(2, 30, 3):
    print(x)

0
1
2
3
4
5
2
5
8
11
14
17
20
23
26
29

In [19]:
## Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Python Functions

In [20]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [22]:
##  Arbitrary Arguments, *args
def my_function(*kids):
    print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [23]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [24]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [26]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [27]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [28]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

## Python Lambda

In [29]:
#A lambda function can take any number of arguments, but can only have one expression.

x = lambda a : a + 10
print(x(5))

15

In [30]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [31]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [32]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [33]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Python Classes and Objects

In [34]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

5

In [39]:
#Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person("sds",33)
print(p1.name)
print(p1.age)

sds
33

In [40]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## Python Inheritance

In [ ]:
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.